/* Source Han Sans CN */

@font-face {
	font-family: 'cycn';
	src: url('site-fonts/sourcehan/normal/sourcehan-pure.woff') format('woff'), 
		 url('site-fonts/sourcehan/normal/sourcehan-pure.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
} 

@font-face {
	font-family: 'cycn-eng';
	src: url('site-fonts/sourcehan/sub-eng/siyuansub-eng.eot'), /* IE9*/
		 url('site-fonts/sourcehan/sub-eng/siyuansub-eng.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('site-fonts/sourcehan/sub-eng/siyuansub-eng.woff2') format('woff2'),
		 url('site-fonts/sourcehan/sub-eng/siyuansub-eng.woff') format('woff'), /* chrome、firefox */
		 url('site-fonts/sourcehan/sub-eng/siyuansub-eng.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
		 url('site-fonts/sourcehan/sub-eng/siyuansub-eng.svg') format('svg'); /* iOS 4.1- */
	font-weight: normal;
	font-style: normal;
}

/* regular script: weibei */

@font-face {
	font-family: 'kt';
	src: url('site-fonts/regular/kt.eot'), /* IE9*/
	     url('site-fonts/regular/kt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('site-fonts/regular/kt.woff2') format('woff2'),
		 url('site-fonts/regular/kt.woff') format('woff'), /* chrome、firefox */
		 url('site-fonts/regular/kt.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
		 url('site-fonts/regular/kt.svg') format('svg'); /* iOS 4.1- */
	font-weight: normal;
	font-style: normal;
} 

span.ikt {
	font-size: 110%;
	font-family: kt;
}

/* KateX Serif */

@font-face {
    font-family: 'msf';
	src: 
		url('site-fonts/math/serif/normal.woff2') format('woff2'),
		url('site-fonts/math/serif/normal.woff') format('woff'),
		url('site-fonts/math/serif/normal.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
} 

@font-face {
	font-family: 'msf';
	src: 
		url('site-fonts/math/serif/italic.woff2') format('woff2'),
		url('site-fonts/math/serif/italic.woff') format('woff'),
		url('site-fonts/math/serif/italic.ttf') format('truetype'); 
	font-weight: normal;
	font-style: italic;
} 

@font-face {
	font-family: 'msf';
	src: 
		url('site-fonts/math/serif/bold.woff2') format('woff2'),
		url('site-fonts/math/serif/bold.woff') format('woff'),
		url('site-fonts/math/serif/bold.ttf') format('truetype'); 
	font-weight: bold;
	font-style: normal;
} 

/* Katex Math */

@font-face {
    font-family: 'm';
	src: 
		url('site-fonts/math/general/normal.woff2') format('woff2'),
		url('site-fonts/math/general/normal.woff') format('woff'),
		url('site-fonts/math/general/normal.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
} 

@font-face {
	font-family: 'm';
	src: 
		url('site-fonts/math/general/italic.woff2') format('woff2'),
		url('site-fonts/math/general/italic.woff') format('woff'),
		url('site-fonts/math/general/italic.ttf') format('truetype'); 
	font-weight: normal;
	font-style: italic;
} 

@font-face {
	font-family: 'm';
	src: 
		url('site-fonts/math/general/bold.woff2') format('woff2'),
		url('site-fonts/math/general/bold.woff') format('woff'),
		url('site-fonts/math/general/bold.ttf') format('truetype'); 
	font-weight: bold;
	font-style: normal;
} 

@font-face {
	font-family: 'm';
	src: 
		url('site-fonts/math/general/bolditalic.woff2') format('woff2'),
		url('site-fonts/math/general/bolditalic.woff') format('woff'),
		url('site-fonts/math/general/bolditalic.ttf') format('truetype'); 
	font-weight: bold;
	font-style: italic;
} 

/* KateX TypeWriter */

@font-face {
    font-family: 'mtt';
	src: 
		url('site-fonts/math/ttmono/mtt.woff2') format('woff2'),
		url('site-fonts/math/ttmono/mtt.woff') format('woff'),
		url('site-fonts/math/ttmono/mtt.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
} 

/* Consolas */

@font-face {
    font-family: 'Consolas-inside';
	src: 
		url('site-fonts/consolas/consola.woff2') format('woff2'),
		url('site-fonts/consolas/consola.woff') format('woff'),
		url('site-fonts/consolas/consola.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
} 

@font-face {
	font-family: 'Consolas-inside';
	src: 
		url('site-fonts/consolas/consolai.woff2') format('woff2'),
		url('site-fonts/consolas/consolai.woff') format('woff'),
		url('site-fonts/consolas/consolai.ttf') format('truetype'); 
	font-weight: normal;
	font-style: italic;
} 

@font-face {
	font-family: 'Consolas-inside';
	src: 
		url('site-fonts/consolas/consolab.woff2') format('woff2'),
		url('site-fonts/consolas/consolab.woff') format('woff'),
		url('site-fonts/consolas/consolab.ttf') format('truetype'); 
	font-weight: bold;
	font-style: normal;
} 

@font-face {
	font-family: 'Consolas-inside';
	src: 
		url('site-fonts/consolas/consolaz.woff2') format('woff2'),
		url('site-fonts/consolas/consolaz.woff') format('woff'),
		url('site-fonts/consolas/consolaz.ttf') format('truetype'); 
	font-weight: bold;
	font-style: italic;
} 

/* Monoca */

@font-face {
    font-family: 'Monaco-inside';
	src: 
		url('site-fonts/monaco/Monaco.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
